@mixin color($color, $fontColor) {
  background-color: $color;
  color: $fontColor;
}
@mixin color($color) {
  color: $color;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

  h1 {
    font-size: 60px;
    color: rgba($color: #120774, $alpha: 1);
    text-align: center;
    margin-bottom: 0;
  }
  #counter {
    font-size: 60px;
  }
  .btn {
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 6px;
    margin-right: 20px;
  }
  .decrease {
    @include color(#ff0000, #fff);
  }
  .increase {
    @include color(#00ff00, rgb(0, 0, 0));
  }
  .reset {
    @include color(#000, #fff);
  }

  .success {
    @include color(#00ff00);
  }
  .danger {
    @include color(#ff0000);
  }
  .resetColor {
    @include color(#000);
  }
}
.transition {
  transition: color 3s ease-in-out;
}
